@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Noto+Sans:ital,wght@0,100;1,200&family=Share+Tech&display=swap");

.entireDoc {
  width: 1200px;
  height: 720px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: hidden;
}

.firstCanvas {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 400px;
  width: 500px;
  border: 2px black solid;
  font-family: "Share Tech", sans-serif;
  font-size: 40px;
  color: white;
}

.secondCanvas {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 500px;
  border: 2px black solid;
  font-family: "Share Tech", sans-serif;
  font-size: 40px;
  color: white;
}

.thirdCanvas {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 133.3px;
  width: 1000px;
  border: 2px black solid;
  font-family: "Share Tech", sans-serif;
  font-size: 40px;
  color: white;
}

.firstBox {
  display: flex;
  width: 166.6px;
  height: 133.3px;
  background-color: blue;
  justify-content: center;
  align-items: center;
}

.secondBox {
  display: flex;
  width: 166.6px;
  height: 133.3px;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.thirdBox {
  display: flex;
  width: 166.6px;
  height: 133.3px;
  background-color: green;
  justify-content: center;
  align-items: center;
}
