@charset "utf-8";
/* CSS Document */

body {
  color: #000;
  background: #332f29;
  font-size: 100%;
  overflow-y: hidden;
  width: 100%;
}

#contenedor {
  display: inline-flex;
  flex-direction: column;
  width: 800px;
  background: #8fa68e;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.ttBox {
  display: inline-flex;
  background-color: #788378;
  height: 50px;
  width: 100%;
}

h1 {
  margin-top: auto;
}

.linkBox {
  border: 1px black solid;
}

nav {
  background: #fdff87;
  float: left;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  line-height: 25px;
}

section {
  display: inline-flex;
  flex-direction: column;
  background: #f1f2c0;
  width: 800px;
  height: 150px;
  justify-content: center;
  margin-left: auto;
  border: 1px black solid;
  flex-wrap: nowrap;
}

section h2 {
  margin-left: 10px;
}

.textContainer {
  width: 680px;
}

section p {
  margin-left: 10px;
}

aside {
  background: #ccc59e;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin: auto;
  border: 1px black solid;
}

aside h2 {
  margin-left: 10px;
}

aside p {
  margin-left: 10px;
}
