@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;1,200&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Noto+Sans:ital,wght@0,100;1,200&family=Share+Tech&display=swap");

.entireDoc {
  background-color: #193166;
}

.firstPart {
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  color: #00bbff;
  font-size: 3rem;
  font-family: DejaVu Sans Mono, monospace;
  font-style: oblique;
  white-space: nowrap;
  border-right: 4px solid;
  width: 16ch;
  animation: typing 2s steps(16), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* .sidePic {
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  top: -20%;
  left: 15%;
  margin: 0 auto;
} */

.sidePic {
  max-width: 150px;
  max-height: 170px;
}

.sidePic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-left: 170px;
  box-shadow: 8px 6px 15px rgb(255, 255, 255);
}

#data {
  list-style-type: none;
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  border-radius: 10px;
  text-align: center;
  position: relative;
  bottom: 110px;
  margin-left: 120px;
}

#data li {
  display: inline;
  background-color: black;
  color: white;
  padding: 12px;
  background: #00bbff;
  background: linear-gradient(220deg, #00bbff 10%, #000000 100%);
  background: -webkit-linear-gradient(220deg, #00bbff 10%, #000000 100%);
  background: -moz-linear-gradient(220deg, #00bbff 10%, #000000 100%);
  border-radius: 0px 5px 0px 5px;
  opacity: 90%;
  border: 1px solid #fff;
}

.learningTo {
  text-align: center;
  float: right;
}

.learningList img {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.titleArt {
  text-align: center;
  font-family: "Share Tech", sans-serif;
  font-size: 70px;
  color: #00bbff;
  opacity: 80%;
  border-style: 10px solid;
}
