.title {
  text-align: center;
  font-size: 30px;
}

.firstPart {
  display: flex;
  align-items: center;
  justify-content: left;
}

.firstPart img {
  width: 110px;
  height: 130px;
  justify-content: left;
}

.learningList img {
  width: 100px;
  height: 100px;
}
