.title {
  display: block;
  font-size: 3rem;
  font-family: DejaVu Sans Mono, monospace;
  font-style: oblique;
  white-space: nowrap;
  border-right: 4px solid;
  width: 16ch;
  animation: typing 2s steps(16), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.firstPart {
  position: relative;
  padding-bottom: 75px;
}

/* .sidePic {
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  top: -20%;
  left: 15%;
  margin: 0 auto;
} */

.sidePic {
  float: left;
  max-width: 150px;
  max-height: 150px;
}

.sidePic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-left: 200px;
}

#data {
  display: flex;
  list-style-type: none;
  font-family: Helvetica;
  font-size: 1.5em;
  border-radius: 10px;
  justify-content: center;
}

#data li {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-right: 10px;
  justify-content: center;
}

.learningTo {
  text-align: center;
}

.learningList img {
  width: 90px;
  height: 90px;
}
